# 6.1 Sourcing Open Data

# Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [3]:
# Turn folder into path
path = r'C:\Users\davib\Documents\Final Achievement'

In [10]:
# Import raw data
df = pd.read_csv(r'C:\Users\davib\Documents\Final Achievement\02 Data\Original Data\raw_data.csv', index_col = False)

In [11]:
# Import transformed data
df2 = pd.read_csv(r'C:\Users\davib\Documents\Final Achievement\02 Data\Prepared Data\transformed_data.csv', index_col = False)

In [12]:
# Import raw data as os
df = pd.read_csv(os.path.join(path,'02 Data','Original Data','raw_data.csv'),index_col = False)

In [13]:
# Import transformed data as os
df2 = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','transformed_data.csv'),index_col = False)

# Data Cleaning

In [14]:
df.shape

(50418, 14)

In [15]:
df.columns

Index(['iso_code', 'location', 'date', 'total_cases', 'total_deaths',
       'stringency_index', 'population', 'gdp_per_capita',
       'human_development_index', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [16]:
df.dtypes

iso_code                    object
location                    object
date                        object
total_cases                float64
total_deaths               float64
stringency_index           float64
population                   int64
gdp_per_capita             float64
human_development_index    float64
Unnamed: 9                  object
Unnamed: 10                 object
Unnamed: 11                 object
Unnamed: 12                float64
Unnamed: 13                 object
dtype: object

In [17]:
df.head()

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

In [20]:
# Checking for missing values
df.isnull().sum()

iso_code                       0
location                       0
date                           0
total_cases                 3094
total_deaths               11190
stringency_index            7126
population                     0
gdp_per_capita              5712
human_development_index     6202
Unnamed: 9                     0
Unnamed: 10                    0
Unnamed: 11                    0
Unnamed: 12                    0
Unnamed: 13                    0
dtype: int64

In [21]:
# Find duplicates
df_dups = df[df.duplicated()]

In [22]:
df_dups.shape

(0, 14)

In [23]:
# For mixed-type data
for col in df.columns.tolist():
      weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df[weird]) > 0:
        print (col)

In [24]:
df2.shape

(50418, 9)

In [25]:
df2.columns

Index(['CODE', 'COUNTRY', 'DATE', 'HDI', 'TC', 'TD', 'STI', 'POP', 'GDPCAP'], dtype='object')

In [26]:
df2.dtypes

CODE        object
COUNTRY     object
DATE        object
HDI        float64
TC         float64
TD         float64
STI        float64
POP        float64
GDPCAP     float64
dtype: object

In [27]:
df2.head()

  CODE      COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  AFG  Afghanistan  2019-12-31  0.498  0.0  0.0  0.0  17.477233  7.497754
1  AFG  Afghanistan  2020-01-01  0.498  0.0  0.0  0.0  17.477233  7.497754
2  AFG  Afghanistan  2020-01-02  0.498  0.0  0.0  0.0  17.477233  7.497754
3  AFG  Afghanistan  2020-01-03  0.498  0.0  0.0  0.0  17.477233  7.497754
4  AFG  Afghanistan  2020-01-04  0.498  0.0  0.0  0.0  17.477233  7.497754

In [32]:
# Checking for missing values
df2.isnull().sum()

CODE          0
COUNTRY       0
DATE          0
HDI        6202
TC            0
TD            0
STI           0
POP           0
GDPCAP        0
dtype: int64

In [33]:
# Find duplicates
df2_dups = df[df.duplicated()]

In [34]:
df2_dups.shape

(0, 14)

In [35]:
# For mixed-type data
for col in df2.columns.tolist():
      weird = (df2[[col]].applymap(type) != df2[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df2[weird]) > 0:
        print (col)